:root {
    --black: #000000;
    --grey:  #d3d3d3;
    --purple: #260433;
    --accent: #5a1177;
}

body {
    background-color: var(--purple);
    color: var(--grey);
}

h1 {
    text-align: center;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
}

#viewHighscore {
    color: var(--grey);
    text-decoration: none;
    background-color: var(--accent);
    padding: 10px;
    font-size: 25px;
}

#viewHighscore:hover {
    background-color: #9e79b4;
}

#block {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: var(--accent);
    width: 50%;
    height: 600px;
    padding: 20px;
}

ol{
    display: flex;
    flex-direction: column;
}

.answer {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: var(--purple);    
    width: 33%;
    border-radius: 5px; 
}

.answer:hover {
    background-color: #9e79b4;
}

#begin, #return {
    color: var(--grey);
    background-color: var(--accent);
    font-size: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#begin:hover, #return:hover {
    background-color: #9e79b4;
}

#return {
    margin-top: 20px;
}

#view-score {
    background-color: var(--accent);
    width: 30%;
    height: 600px;
    padding: 20px;
}

#highscores {
    text-align: center;
}

#scorelist {
    display: flex;
    justify-content: space-around;
}

#initialscore:first-child{
    list-style: none;
    
}

#scorestore {
    list-style: none;
}