:root {
    --black: #000000;
    --grey:  #d3d3d3;
    --purple: #260433;
    --accent: #5a1177;
}

body {
    background-color: var(--purple);
    color: var(--grey);
}

h1 {
    text-align: center;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
}

#viewHighscore {
    color: var(--grey);
    text-decoration: none;
    background-color: var(--accent);
    padding: 10px;
    
}

#viewHighscore:hover {
    background-color: #9e79b4;
}

#block {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
article div {
    background-color: var(--accent);
    width: 50%;
    height: 600px;
    padding: 20px;
}

ol{
    display: flex;
    flex-direction: column;
}

li {
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: var(--purple);    
    width: 33%;
    border-radius: 5px; 
}

.answe::marker{
    background: var(--purple);
}

li:hover {
    background-color: #9e79b4;
}

button {
    color: var(--grey);
    background-color: var(--accent);
    font-size: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #9e79b4;
}